asgiref==3.5.0
autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
Django==4.0.4
django-filter==21.1
djangorestframework==3.13.1
Faker==13.4.0
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.7.0
psycopg2==2.9.3
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylama==8.3.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.8
Werkzeug==1.0.1
